
.margin-img{
    margin:5px 10px; 
}
.section-follow .fa-4x{
    margin:5px 10px;
    transition: color 1s;
    color:#fff;
}
.section-follow .fa-4x:hover{
    color:#4267b2;
   


}
.back-color{
   background-image: linear-gradient(to right, white , #82b1ff);
}
.background-maroon {
    background-color: #a82121;
}
.meroon-color{
    color:#a82121;
}

 .sub-title-color{
     color:#240881;
 }

 .slider .indicators .indicator-item.active{
     background-color:#a82121 !important;
 }

 .card-hov{
     transition:background-color 1s;
 }
 .card-hov:hover{
     background-color:#82b1ff !important;
 }